header {
    width: 100%;
    height: 125px;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 25;
    box-shadow: 0 0 2px black;
}

header li {
    list-style: none;
}

header a {
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Protest Strike", sans-serif;
    font-size: 25px;
    color: var(--background-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .major-container {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .menu,
header .logo,
header .account {
    padding: 15px 0px;
    height: calc(100% - 30px);
}

header img {
    max-width: 100%;
    height: 80%;
    border-radius: 25px;
}

header .logo {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

header .menu {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo .logo-container {
    background-color: var(--link-color);
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    position: relative;
    transform: rotate(25deg);
    z-index: 1;
    cursor: pointer;
}

header .logo .logo-container:before {
    content: '';
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: calc(15px + 10%);
    z-index: -1 !important;
    transform: rotate(-25deg);
}

header .logo .logo-container svg {
    width: 60%;
    transform: rotate(-25deg);
    height: 60%;
}

header .logo-container path {
    fill: var(--link-color);
}

header .menu ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .menu li {
    margin-left: 40px;
}

header .menu li a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}


header .menu li a::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    opacity: 1;
    overflow: hidden;
    content: attr(text);
    color: var(--link-color);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.5s;
}

header .menu li a:hover::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    content: attr(text);
    color: var(--link-color);
    text-decoration: none;
    text-transform: uppercase;
}

.login-btn {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.login-btn:hover {
    background-color: var(--link-color);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

header .account {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.global-menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

header .profile-name {
    border-radius: 15px;
    padding: 15px;
    border: 2px solid var(--background-color);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: 0.5s;
    background: white;
    z-index: 1;
}

header .profile-menu {
    width: 100%;
    top: 50%;
    position: absolute;
    background: white;
    padding: 0px 15px;
    border: 2px solid var(--background-color);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
    height: 0px;
    transition: 0.5s;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .profile-menu a {
    font-size: 20px;
}

header .profile:hover .profile-name {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: 2px solid white;
}

header .profile:hover .profile-menu {
    height: 100px;
    top: 100%;

}

@media (max-width: 1030px) {
    header .major-container {
        justify-content: flex-end !important;
    }

    header .global-menu-container {
        background-color: var(--background-color);
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 100%;
        transition: 0.25s;
        z-index: 50;
        flex-direction: column;
    }

    header ul {
        flex-direction: column;
        justify-content: space-around !important;
        height: 100%;
    }

    header ul li {
        margin-left: 0 !important;
    }

    header .menu a {
        color: var(--text-second-color);
    }

    header .account {
        height: 30% !important;
    }

    header .login-btn {
        background-color: var(--text-second-color);
    }

    header .global-menu-container-active {
        left: 0%;
    }

    header .menu-button {
        padding: 45px;
        cursor: pointer;
        display: block;
        z-index: 52;
    }

    header .menu-button .bar1,
    header .menu-button .bar2,
    header .menu-button .bar3 {
        width: 35px;
        height: 5px;
        background-color: var(--background-color);
        margin: 6px 0;
        transition: 0.4s;
    }

    header .change-menu .bar1 {
        background-color: var(--text-second-color);
        transform: translate(0, 11px) rotate(-45deg);
    }

    header .change-menu .bar2 {
        opacity: 0;
    }

    header .change-menu .bar3 {
        background-color: var(--text-second-color);
        transform: translate(0, -11px) rotate(45deg);
    }

    header .profile {
        transform: translateY(0px);
        width: 200px;
    }

    header .profile-name {
        width: 200px;
        text-align: center;
    }

    header .profile ul {
        height: auto;
    }

    header .profile:hover {
        transform: translateY(-50px);
    }
}